.title{
  background: #262D31;
  height: 100px;
  color: #ffffff;

}
.margin-b{
  margin-bottom: 250px;
}
.margin1-b{
  margin-bottom: 350px;
}
.margin-b1{
  margin-bottom: 550px;
}

img {
  margin-right: 50px;
}
  .blog-post {
    background: #fbfbfb;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.btn1-h1-spacing{
  margin-top: 65px;
}
.m-top{
  margin-top:100px;
}
